<%= form_for :credential, url: credentials_path do |f| %>

 <% if @credential.errors.any? %>
   <div>
     <h2>You have <%= pluralize(@credential.errors.count, "error") %> </h2>
     <ul>
       <% @credential.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
      </ul>
    </div>
  <% end %>

 <div>
   <%= f.label :userName %> <br/>
   <%= f.text_field :userName %>
 </div>

 <div>
   <%= f.label :passwordHash %> <br/>
   <%= f.text_field :passwordHash %>
 </div>

<div>
   <%= f.label :passwordHashAgain %> <br/>
   <%= f.text_field :passwordHashAgain %>
 </div>

 <div>
   <%= f.label :passQuestion %> <br/>
   <%= f.text_field :passQuestion %>
 </div>

 <div>
   <%= f.label :passQuestionAnswerHash %> <br/>
   <%= f.text_field :passQuestionAnswerHash %>
 </div>

<p> <%=f.submit %> </p>

<% end %>